# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the src and pre-build directories
/build
/src

# Ignore the build directory
/dist

# The file containing environment variables
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

# The workspace file
commbase-website.code-workspace

# The Prettier config file
.prettierrc

# Ignore Node specific files
#package.json
#package-lock.json

# The ESLint config files
.eslintrc.json
.eslintignore
